/* header complet */
#header
{
    /*background: blue;*/
}

/* logo gauche */
#logo
{
    position: relative;
    width: auto;
    height: 150px;
}

/* titre centre */
#titre
{
    font-size: 25px;
    color: black;
}

/* formulaire connection droite */
#pseudo
{
    margin-right: 5px;
    padding: 5px;
}

#passe
{
    padding: 5px;
}

#formulaire
{
    opacity: 0.7;
}


