/* header complet */
#header
{
    background-image: url("../../../Web/Images/Profile_site/Back_head.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 28%;
    opacity: 0.9;
}

/* logo gauche */
#logo
{
    position: relative;
    width: auto;
    height: 150px;
}

/* titre centre */
#titre
{
    font-size: 40px;
    font-weight: bold;
    font-family: cursive;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #29abe2, #fcee21, #39b54a, #ff0000);
    border-color: black;
}

/* formulaire connection droite */
#pseudo
{
    margin-right: 5px;
    padding: 5px;
}

#passe
{
    padding: 5px;
}

#formulaire
{
    opacity: 0.7;
}

/* general */
a:hover
{
    text-decoration: none;
}


/*--------Menu-------*/

nav li
{
    list-style: none;
    height: 10px;
}
ul
{
    margin-bottom: 8px;
}
ul li
{
    display: inline-block;
}

ul li a
{
    color: black;
    padding: 10px;
    opacity: 0.7;
    background: #D6EAF8;
    border-radius: 5px 5px 0px 0px;
    border: 2px solid white;
}

ul li a:hover
{
    color: black;
    opacity: 1;
    background: #AED6F1;
}
