body
{
    font-family: cursive;
}
.pays, .sport
{
    text-align: center;
}
.pays a, .sport a
{
    color: black;
}
.sport img
{
    width: 64px;
    height: 64px;
}

.nom_prenom
{
    margin-left: 20px;
}
.image_pays, .libelle_pays, .image_sport, .libelle_sport
{
    text-align: center;
}
.image_sport img
{
    width: 64px;
    height: 64px;
    text-align: center;
}
.titre_details
{
    font-weight: bold;
    margin: 20px 20px 20px 0px;  /*Marge haut, droite, bas, gauche*/
}
