body
{
    font-family: Arial;
}
.pays, .sport
{
    text-align: center;
}
.pays a, .sport a
{
    color: black;
}
.sport img
{
    width: 64px;
    height: 64px;
}

.nom_prenom, .info_compl
{
    margin-left: 20px;
}
.image_pays, .libelle_pays, .image_sport, .libelle_sport
{
    text-align: center;
}
.image_sport img
{
    width: 64px;
    height: 64px;
    text-align: center;
}
.titre_details
{
    font-weight: bold;
    margin: 20px 20px 20px 0px;  /*Marge haut, droite, bas, gauche*/
}
.photo
{
    height: 230px;
}
.nom_prenom_athlete
{
    text-align: center;
}
.sport a:hover, .nom_prenom a, .pays a:hover
{
    color: black;
}
a:hover, .sport a, .nom_prenom a:hover, .pays a
{
    color: #54BBCF;
    text-decoration: none;
}
.card
{
    padding: 15px;
}
